@import "tailwindcss";

:root {
  --text: #555555;
  --text-h: #000000;
  --bg: #f8f8f5;
  --border: #e5e1d8;
  --accent: #ffb300;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 18px 40px -18px,
    rgba(0, 0, 0, 0.08) 0 8px 18px -12px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 16px/1.45 var(--sans);
  letter-spacing: 0;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
input {
  font: inherit;
}

#root {
  min-height: 100svh;
}

h1,
h2,
p {
  margin: 0;
}
